<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Senventy</h1>
    </div>
  </section>

  <div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      </div>
      <h2></h2>
       <%= render 'layouts/flash_messages' %>
        <div class="table-responsive">
          <h3>テイクアウト実施店舗</h3>
          <div class="container">
            <div class="row">
              <% @account.each do |account|%>
                <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <div class="card border-primary m-4" style="width: 300px;">            
                      <%= image_tag account.image.thumb.url %>
                      <div class="card-body">
                        <p class="card-text"><%= account.shop_name %></p>
                        <p class="card-text"><%= account.address %></p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </main>
  </div>
</div>



</main>