<div class="background">
  <div class="container mx-auto">
     <div class="col-sm-6 mx-auto">
      <%= image_tag 'Seventy-logo.png',class:"mt-5"%>
      <%= link_to "新規登録", new_account_registration_path, class:"btn btn-lg btn-block btn-outline-light"%>
      <%= link_to "ログイン", new_account_session_path, class:"btn btn-lg btn-block btn-outline-light mt-5"%>
    </div>
  </div>
</div>