<%= render "layouts/customer_header"%>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Senventy</h1>
    </div>
  </section>

    <div class="containe">
        <h2 class="text-center">ご購入ありがとうございました。</h2>
        <% @cart.each do |cart|%>
        <%= cart.menu.product_name %>
        <% end %>
  </div>
</main>