


<%= render "layouts/customer_header"%>
<div class=container>
<div class="row">

<table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th>商品</th>
      <th>商品名</th>
      <th>値段</th>
    </tr>
  </thead>
  <% @cart_items.each do |order| %>
  <tbody>
    <tr>
      <th scope="row"><%= image_tag order.menu.image.thumb.url, width:"100px" %></th>
      <td><%= order.menu.product_name%></td>
      <td><%= order.menu.price%>円</td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
</div>
