.account-form{
  margin-top: 150px !important;
}


#img_prev{
  width: 50%;
  margin-top: 20px
} 

table th:nth-child(1) {
  width: 10%;
}

#credit{
  display: none;
}

.banner {
  width:100%;
  height: 250px;
  background-image: image-url('banner.jpg');
  background-size: cover;
}

.background{
  width:100%;
  height: 100vh;
  background-image: image-url('admin.jpg');
  background-size: cover;
}
.background::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.4);
}

.pricing-header{
  padding:150px;
}

.card{
  transition:box-shadow 0.3s !important;
&:hover {
  box-shadow:0 0 20px rgba(0, 110, 255, 0.5), 0 2px 5px rgba(0, 0, 0, 0.3) !important;
  }
}

.cardtext{
  text-decoration: none !important;
}