<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
  <%= link_to image_tag("Seventy-logo", width:"150"), admin_account_path(current_account.id), class:"my-0 mr-md-auto text-muted" %>
  <nav class="my-2 my-md-0 mr-md-3">
   <%= link_to "カート", cart_path(current_cart), class:"p-2 text-dark" %>
  </nav>
</div>